@import url('https://fonts.googleapis.com/css?family=Hind:300,400');
.galerija .glide {
  background-color: #000013;
  background-color: black;
  padding: 10px;
}

.galerija-tekst {
  background-color: #000013;
  font-family: 'Hind', sans-serif;
  font-size: 1.5em;
  text-align: center;
  color: #F9711D ;
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {
  .galerija-tekst {
    font-size: 1em;
  }
}
