@import url('https://fonts.googleapis.com/css?family=Hind:300,400');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}


header{
    position: relative;
}
header .banner__img{
    display: none;
    width: 100%;
}

header {
  /* background: linear-gradient(to left, #000013, #000419 95%, #000013); */
  background: radial-gradient(circle at center, #000419 95%, #000013);
}

header video {
  height: 100vh;
  width: 100%;
}

  header .header {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  header .header h1 {
    font-size: 8rem;
    font-family: 'Hind', sans-serif;
    color: white;
    text-align: center;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 900;
  }
  
  .glitch-window {
    position: absolute;
    top: 3px;
    left: -3px;
    width: 100%;
    color: white;
    text-shadow: 3px 0px #012641, -2px 0 #012641, -3px 0 orange;
    overflow: hidden;
    animation: crt-me 2500ms infinite linear alternate-reverse;
  }
  #navbar {
    background-image: linear-gradient(rgba(0, 0, 0,0.5) , rgba(0,0,0,0.1));
    position: fixed;
    top: -50px;
    width: 100%;
    display: block;
    transition: top 0.3s;
    z-index: 10000;
    padding-right: 100px;
    text-align: right;

  }
  
  #navbar a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
  }
  #navbar *{
    transition: all .35s ease;
  }
  
  #navbar a {
    padding: .5em .8em;
    color: rgba(255,255,255,.5);
    position: relative;
    text-decoration: none;
    font-size: 20px;
  }
  
  #navbar a::before,
  #navbar a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
  }
  
  #navbar a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid #F9711D;
    border-right: 3px solid #F9711D;
    transform: translate(-100%, 50%);
  }
  
  #navbar a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #F9711D;
    border-left: 3px solid #F9711D;
    transform: translate(100%, -50%)
  }
  
  #navbar a:hover:before,
  #navbar a:hover:after{
    transform: translate(0,0);
    opacity: 1;
  }
  
  #navbar a:hover {
    color: white;
  }
  .slogan{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20%;
  }
  .slogan a {
    display: block;
    border: 4px solid #F9711D;
    font-size: 32px;
    color: white;
    padding: 10px;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  }
  .slogan a:after{
    background: #F9711D;
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
 .slogan a:link:hover:after, .slogan a:visited:hover:after {
    height: 100%;
  }
  .slogan a:link:after, .slogan a:visited:after {
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 100%;
    z-index: -2;
    -webkit-transition: all 0.75s ease 0s;
    -moz-transition: all 0.75s ease 0s;
    -o-transition: all 0.75s ease 0s;
    transition: all 0.75s ease 0s;
  }
  .typewriter h1 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 620px;
    color: white;
    font-size: 32px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #F9711D; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  .dropDown{
    display: none;
    position: fixed;
    right: 15px;
    top: 10px;
    z-index: 1000;
  }
  .dropDown div{
    width: 35px;
    height: 6px;
    margin: 6px 0;
    background-color: white;
    border: 1px solid black;
    right: 15px;
    top: 15px;
    z-index: 10001;
  }
  #dropDown-nav{
    display: none;
    background-image: linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0,0.6));
    color: white;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    list-style: none;
  }
  #dropDown-nav ul li{
    padding: 20px;
    font-size: 24px;
    color: white;
  }
  @-webkit-keyframes crt-me {
    0% {
      clip: rect(31px, 9999px, 94px, 0);
    }
    10% {
      clip: rect(112px, 9999px, 76px, 0);
    }
    20% {
      clip: rect(85px, 9999px, 77px, 0);
    }
    30% {
      clip: rect(27px, 9999px, 97px, 0);
    }
    40% {
      clip: rect(64px, 9999px, 98px, 0);
    }
    50% {
      clip: rect(61px, 9999px, 85px, 0);
    }
    60% {
      clip: rect(99px, 9999px, 114px, 0);
    }
    70% {
      clip: rect(34px, 9999px, 115px, 0);
    }
    80% {
      clip: rect(98px, 9999px, 129px, 0);
    }
    90% {
      clip: rect(43px, 9999px, 96px, 0);
    }
    100% {
      clip: rect(82px, 9999px, 64px, 0);
    }
  }
  
  @keyframes crt-me {
    0% {
        
      clip: rect(31px, 9999px, 94px, 0);
    }
    10% {
      clip: rect(112px, 9999px, 76px, 0);
    }
    20% {
      clip: rect(85px, 9999px, 77px, 0);
    }
    30% {
      clip: rect(27px, 9999px, 97px, 0);
    }
    40% {
      clip: rect(64px, 9999px, 98px, 0);
    }
    50% {
        
      clip: rect(61px, 9999px, 85px, 0);
    }
    60% {
      clip: rect(99px, 9999px, 114px, 0);
    }
    70% {
      clip: rect(34px, 9999px, 115px, 0);
    }
    80% {
      clip: rect(98px, 9999px, 129px, 0);
    }
    90% {
      clip: rect(43px, 9999px, 96px, 0);
    }
    100% {
      clip: rect(82px, 9999px, 64px, 0);
    }
  }

  @media only screen and (max-width: 992px) {
    header{
      height: 100vh !important;
    }
    header .banner__vid {
      display: none;
    }
    header .banner__img{
        display: block;
        
    }
    header .header h1 {
        font-size: 3.5rem;
    }
    .typewriter h1{
      font-size: 16px;
      top: 20%;
    }
    #navbar a{
      display: none;
    }
    .dropDown{
      display: block;
    }
  }

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #F9711D }
}