.container {
    margin: 0 auto;
    padding: 4rem;
    width: 48rem;
  }
  
  h3 {
    font-size: 1.75rem;
    color: #42BDDE;
    padding: 1.3rem;
    margin: 0;
  }
  
  .accordion a {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding: 1rem 3rem 1rem 1rem;
    color: #42BDDE;
    font-size: 1.15rem;
    font-weight: 400;
    border-bottom: 1px solid #F9711D;
  }
  
  .accordion a:hover,
  .accordion a:hover::after {
    cursor: pointer;
    color: #F9711D;
  }
  
  .accordion a:hover::after {
    border: 1px solid #F9711D;
  }
  
  .accordion a.active {
    color: #F9711D;
    border-bottom: 1px solid #F9711D;
  }
  
  .accordion a::after {
    font-family: 'Ionicons';
    content: '+';
    position: absolute;
    float: right;
    right: 1rem;
    font-size: 1rem;
    color: #42BDDE;
    padding: 5px;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #42BDDE;
    text-align: center;
  }
  
  .accordion a.active::after {
    font-family: 'Ionicons';
    content: '-';
    color: #F9711D;
    border: 1px solid #42BDDE;
  }
  
  .accordion .content {
    opacity: 0;
    padding: 0 1rem;
    max-height: 0;
    border-bottom: 1px solid #F9711D;
    overflow: hidden;
    clear: both;
    -webkit-transition: all 0.1s ease 0.05s;
    -o-transition: all 0.1s ease 0.05s;
    transition: all 0.1s ease 0.05s;
  }
  
  .accordion .content p {
    font-size: 1rem;
    font-weight: 300;
  }
  
  .accordion .content.active {
    opacity: 1;
    padding: 1rem;
    max-height: 100%;
    -webkit-transition: all 0.3s ease 0.1s;
    -o-transition: all 0.3s ease 0.1s;
    transition: all 0.3s ease 0.1s;
  }