.galerija .glide {
  background-color: #000013;
  background-color: black;
  padding: 10px;
}

.galerija-tekst {
  background-color: #000013;
  font-size: 1.5em;
  text-align: center;
  color: hsl(30, 100%, 92.5%);
}

@media screen and (max-width: 800px) {
  .galerija-tekst {
    font-size: 1em;
  }
}
