@import url('https://fonts.googleapis.com/css?family=Hind:300,400');
/* *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
/* body {
  font: normal 10.6666666667px "Titillium Web", sans-serif;
  background: #002642;
  color: #002642;
  overflow-x: hidden;
  padding-bottom: 50px;
} */
.timeline {
  overflow: hidden;
  background-color: #e6e6ff;
}
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #F9711D;
}
.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) rotate(45deg);
  width: 20px;
  height: 20px;
  z-index: 2;
  background: #F9711D;
}
.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 20px;
  background: #002642;
  box-shadow: 4px 13px 30px 1px rgba(215, 214, 226, 0.267);
  border-radius: 5px;
  display: flex;
  align-items: center;
  max-height: 100%;
}
.timeline ul li div time {
  position: absolute;
  background: #F9711D;
  width: 150px;
  height: 30px;
  top: -15px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  color: #002642;
  font-weight: bold;
  font-size: large;
  font-family: 'Hind', sans-serif;
}
.timeline ul li div div {
  /* height: 240px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timeline ul li div div h1 {
  text-align: center;
  font-family: 'Hind', sans-serif;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}
.timeline ul li div div p {
  text-align: center;
  font-family: 'Hind', sans-serif;
  font-size: 1.15rem;
  color: rgb(192, 190, 204);
}
.timeline ul li div .otvaranjePrijava {
  max-height: 100%;
  margin-right: 10px;
}
.timeline ul li div .selekcija {
  max-height: 100%;
  margin-right: 10px;
}
.timeline ul li div .otvaranjeHakatona {
  max-height: 100%;
  margin-right: 10px;
}
.timeline ul li div .zatvaranjeHakatona {
  max-height: 100%;
  margin-right: 10px;
}
.timeline ul li:nth-of-type(odd) > div {
  left: 45px;
}
.timeline ul li:nth-of-type(even) > div {
  left: -439px;
}
.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.timeline ul li:nth-of-type(odd) div {
  transform: translate3d(100px, -10px, 0) rotate(10deg);
}
.timeline ul li:nth-of-type(even) div {
  transform: translate3d(-100px, -10px, 0) rotate(10deg);
}
.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}
@media screen and (max-width: 500px) {
  .timeline ul li div {
    width: 250px;
    flex-direction: column;
  }
  .timeline ul li div div {
    width: 80%;
    margin: 10px;
  }
  .timeline ul li div div h1 {
    font-size: 17px !important;
  }
  .timeline ul li div div p {
    font-size: 15px !important;
  }
  .timeline ul li:nth-of-type(even) > div {
    left: -289px;
  }
}
@media screen and (max-width: 900px) {
  body {
    background: rgb(255, 255, 255);
  }
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-of-type(even) > div {
    left: 45px;
  }
}
